
body {
	background-color: #F2EEED !important;
}

.ub-nav-bar {
	position: relative;
	top: 80px;
}

.seminar-link {
	text-decoration: none !important;
	color: #333 !important;
}

.header-subpage {
	background-image: none !important;
	height: inherit;
	top: 80px;
	position: relative;
}
.intro-box-subpage {
	height: unset !important;
}

.btn-ub, .btn-ub:hover, .btn-ub:link, .btn-ub:active .btn-ub:visited {
	border-radius: 0 !important;
	background-color: #31436b !important;;
	color: white !important;;
}

.choose {
	background-color: #bababa;
	background-blend-mode: hard-light;
}

#seminare, #beratungen {
	padding: 0;
}

.modal-dialog {
	width: -moz-min-content;
	width: min-content;;
}

.modal-content {
	width: -moz-max-content;
	width: max-content;
	margin-right: 50%;
}